<a [routerLink]="['/comp-a']">go to A</a>
<h2>Closing Time Calculator</h2>
<label for="start-time">Launch Time:</label>
<input type="time" id="start-time" step="1" class="mb-7" value="10:30:00" />
<select id="start-am-pm">
  <option value="AM">AM</option>
  <option value="PM">PM</option></select
><br />
<div id="break-times">
  @for (item of breaks; track item; let index = $index;){
  <div class="card">
    <div class="card-number"></div>
    <label for="break-start-time">Break Start Time:</label>
    <input type="time" class="break-start-time" step="1" value="00:00:00" />
    <select class="break-start-am-pm mb-9">
      <option value="AM">AM</option>
      <option value="PM">PM</option></select
    ><br />
    <label for="break-end-time">Break End Time:</label>
    <input type="time" class="break-end-time" step="1" value="00:00:00" />
    <select class="break-end-am-pm">
      <option value="AM">AM</option>
      <option value="PM">PM</option></select
    ><br />
    <button #breakDiv class="delete-btn" (click)="deleteBreakTime(breakDiv)">
      delete
    </button>
  </div>
  }
</div>

<button (click)="addBreakTime()" class="mb-7">Add Break</button><br />
<div class="card">
  <div class="card-default">default</div>
  <label for="duration">Total Timeframe:</label>
  <input type="time" class="mb-7" id="duration" step="60" value="08:30" /><br />
  <label for="initial-time">Usual kickoff Time:</label>
  <input type="time" id="initial-time" step="60" value="10:30" />
  <select id="initial-am-pm">
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>
</div>
<button class="mt-5" (click)="calculateEndTime()">Calculate Closing Time</button
><br />
<div id="result" style="display: none">
  <hr />
  <h3 id="end-time"></h3>
  <p id="effective-time"></p>
  <p id="late-duration"></p>
  <p id="total-break-time"></p>
  <p id="outstanding-time"></p>
  <p id="current-time"></p>
</div>
