// body {
//   font-family: Arial, sans-serif;
//   margin: 0;
//   padding: 10px;
// }
label {
  display: block;
  margin-bottom: 2px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mb-9 {
  margin-bottom: 9px;
}
.mt-5 {
  margin-top: 5px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 7px;
  width: 30%;
  position: relative;
}
.card-number {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-default {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ccc;
  border-radius: 5%;
  width: 65px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
